* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
   //padding-top: 2%;
}
// .box{
//   color: #000;
//   position: absolute;
//   top: 50px;
//   left: 600px;
//   border-radius: 8px;
//   width: 100%;
//   z-index: 1;
// }
// .table{
//   display: flex;
// }
input[type=text] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  left: 400px;
  box-sizing: border-box;
  color: #000;
  position: absolute;
  top: 30px;
  border-radius: 8px;
  z-index: 1;
  position: fixed;
}
.container{
  display:flex;
}
// .product_inner{
//   display: flex;
//   height:auto;
// }
// .p2 li{
//   list-style: none;
// }
// .p1{
//    height: 150px;
//    width: 100%;
   
// }
//  .p2{
//  height: 150px;
//  width: 100%;
// //   display:flex;
//  }
// .p3{
//   height: 133px;
//   width: 15em;
// }
// matcard {
//   width: 100%;
//   justify-content: flex-start;
//   display: flex;
//   flex-flow: row wrap;
//   overflow: auto;
// }
.product--blue{
  box-shadow: 1px 5px 15px #CCC;
  width: 15em;
  height: 400px;
  border-radius: 3px;
  padding: 2em;
  margin: 1em;
  overflow: auto;
  position: relative;
  flex: auto;
}
.product_inner img{
  height: 50%;
  width: 50%;
}
.product--blue {
  background: linear-gradient(-45deg, #92DCE5 50%, rgba(255, 255, 255, 0.5) 50%);
}
// .product--orange {
//   background: linear-gradient(-45deg, #EF6F6C 50%, rgba(255, 255, 255, 0.5) 50%);
// }
// .product--red {
//   background: linear-gradient(-45deg, #E84855 50%, rgba(255, 255, 255, 0.5) 50%);
// }
// .product--green {
//   background: linear-gradient(-45deg, #70C1B3 50%, rgba(255, 255, 255, 0.5) 50%);
// }
// .product--yellow {
//   background: linear-gradient(-45deg, #E8DB7D 50%, rgba(255, 255, 255, 0.5) 50%);
// }
// .product--pink {
//   background: linear-gradient(-45deg, #FF386D 50%, rgba(255, 255, 255, 0.5) 50%);
// }
.product img, .product--blue img, .product--orange img, .product--red img, .product--green img, .product--yellow img, .product--pink img {
  max-width: 100%;
  height: auto !important;
  text-align: center;
}
.product_inner {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
}
.product_inner p {
  // color: rgba(255, 255, 255, 0.9);
  color: black;
}
.product_inner button {
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: black;
  border-radius: 3px;
  padding: 1em 3em;
  margin: 1em 0 0 0;
  background: none;
  cursor: pointer;
  //flex-flow: row wrap;
  // transition: background ease-in .25s;
}
.product_inner button:hover {
  background: white;
  color: #2B2D42;
}
.product_inner button:before {
  font-family: FontAwesome;
  content: '\f07A';
  color: #FFF;
  position: absolute;
  font-size: 1.5em;
  margin: 0 -1.5em;
}
.product_inner button:hover:before {
  color: #2B2D42;
}
.product_overlay {
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-500px);
          transform: translateY(-500px);
  opacity: 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.product_overlay h2 {
  color: rgba(43, 45, 66, 0.7);
  font-size: 1.2em;
  margin: 1em 0;
}
.product_overlay i {
  color: rgba(43, 45, 66, 0.7);
  font-size: 1.5em;
}
