<!-- <input type="text" #myInput [(ngModel)]="productName" (input)= "search()"/>

<table class="table"> -->
  <!-- <tr>
    <th>productId</th>
    <th>productName</th>
  </tr> -->
  <!-- <tr *ngFor='let o of products'>
    <td>{{o.productId}}</td>
    <td>{{o.productName}}</td>
    
  </tr>
</table> -->













<!--  
 <mat-form-field appearance="inline" >
      <div class="box">
      <input matInput placeholder="Search for product, brand and more" (input)="onKey($event)" >
     <mat-icon matSuffix>search</mat-icon> 
      <i class="material-icons">
        search
        </i>
    </div>
  </mat-form-field>
<body>
    
</body> -->